#root {
    height: 100vh;
    width: 100vw;
    background-color: #e9f0fd;
}

.full-height {
    height: 100%;
}

.pos-r {
    position: relative;
}

.invisible {
    opacity: 0;
}

.center-x {
    display: flex;
    justify-content: center;
}

.flex-row-container {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

.flex-item-auto {
    flex: 0 0 auto;
}
