#root {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.pos-r {
    position: relative;
}

.invisible {
    opacity: 0;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-x-y {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-container {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

.flex-item-auto {
    flex: 0 0 auto;
}
